.git
.DS_Store
.env
.env.*
.venv
.vscode
__pycache__
*.pyc
*.log

node_modules
frontend/node_modules
dist
frontend/dist

eliza/*
!eliza/packages/
eliza/packages/*
!eliza/packages/contracts/
!eliza/packages/contracts/**
!eliza/packages/core/
!eliza/packages/core/**
!eliza/packages/logger/
!eliza/packages/logger/**
!eliza/packages/prompts/
!eliza/packages/prompts/**
